.page {
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

a {
    color: rgba(0, 0, 0, 0.6) !important;
}

select {
    width: 65%;
    padding: 0.75rem 0.75rem;
    background: #f3f3f3;
    border: none;
    color: #757575;
    border-radius: 5px;
}

select:focus {
    outline: none;
}

.date-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem 0.75rem;
    background: #f3f3f3;
    border: none;
    border-radius: 5px;
}

.date-input:focus {
    outline: none;
}

label, .sort-by {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 13px;
}

.sideMenu {
    width: 25%;
    padding: 1.2rem 1.6rem;
    position: fixed;
    background: #c2c2c2;
    height: 100vh;
}

.menu-item {
    margin: 1rem 0;
}

.item-container {
    margin-bottom: 1rem;
}

.container1 {
    width: 50%;
    padding: 0 1rem 0 0;
    height: 100%;
}
.container2 {
    width: 50%;
    padding: 0 0 0 1rem;
    height: 100%;
}

.ingredients-table,
.inventory-table {
    width: 100%;
    text-align: left;
    padding-top: 1.6rem;
}

.inventory-table-wrapper,
.ingredients-table-wrapper {
    max-height: 20em;
    min-height: 20em;
    overflow: auto;
}

.table-headers {
    font-weight: 500;
    font-size: 12px;
    color: #a1a1a1;
    border: solid #f1f1f1;
    border-width: 0 0 2px 0;
    position: sticky;
    background: #fff;
    top: 0;
    z-index: 2;
    box-shadow: 0 3px 6px -5px grey;
}

.table-rows {
    border: solid #f1f1f1;
    border-width: 0 0 2px 0;
    font-size: 14px;
    font-weight: 400;
}

.table-rows:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.row-selected {
    background: rgba(0, 0, 0, 0.1);
}

.table-title {
    padding: 1rem;
}

.table-cell {
    padding: .6rem 1rem;
}

.categoryTitle {
    font-weight: 500;
    margin: 1rem 0 .25rem;
    font-size: .85rem;
    text-transform: uppercase;
}

.divider {
    width: 25%;
    height: 1px;
    background: #000;
}

.inputContainer {
    display: block;
    margin: 1rem auto;
    width: 100%;
}

.inputContainer input {
    box-sizing: border-box;
    width: 65%;
    padding: 0.75rem 0.75rem;
    background: #f3f3f3;
    border: none;
    color: #757575;
    border-radius: 5px;
}

.inputContainer input:focus {
    outline: none;
}

.majorBtn {
    display: block;
    padding: .85rem 1rem;
    border-radius: 5px;
    background: #37383d;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .8px;
    transition: all .3s ease;
    width: 48%;
    text-align: center;
}

.btnFullWidth {
    width: 100% !important;
    margin-top: 2%;
}

.majorBtn:hover {
    cursor: pointer;
    background: rgba(55, 56, 61, .85);
}

.addProductBtn {
    display: block;
    padding: .6rem 4rem;
    border-radius: 5px;
    background: #37383d;
    border: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .8px;
    transition: all .3s ease;
    width: 100%;
}

.addProductBtn:hover, .smallBtn:hover {
    cursor: pointer;
    background: rgba(55, 56, 61, .85);
}

.btnSection {
    display: flex;
    justify-content: space-between;
}

.btnContainer {
    position: absolute;
    bottom: 10%;
    width: calc(100% - 1.6rem*2);
    box-sizing: border-box;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.containers {
    display: flex;
    width: 100%;
}

.containersWrapper {
    padding: 0 5%;
}

.smallBtn {
    padding: 0.25rem 4rem;
    border-radius: 5px;
    background: #37383d;
    border: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .8px;
    transition: all .3s ease;
    width: 30%;
    float: right;
}

.deleteBtn {
    background: transparent;
    background: rgba(177, 56, 56, 1);
    border: 2px solid #b13838;
}

.deleteBtn:hover {
    background: rgba(177, 56, 56, .85);
}

.d-flex {
    display: flex;
}

.topPanel {
    background: #37383d;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    padding: 1rem 5%;
}

.infoText {
    font-size: 15px;
    line-height: 1.4;
    font-weight: 500;
    color: #E4CC37;
}

.infoValue {
    padding-left: .25rem;
    font-weight: 300;
    color: #fff;
}

.backBtn {
    padding: .75rem 4rem;
    max-height: 3rem;
    border-radius: 5px;
    background: #E4CC37;
    border: none;
    color: #37383d;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .8px;
    transition: all .3s ease;
    width: 30%;
    text-align: center;
}

.between {
    justify-content: space-between;
}
