.page {
    display: flex;
    height: 100%;
    width: 100%;
}

a {
    color: rgba(0, 0, 0, 0.6) !important;
}

.page a,
#inventory_import_csv a {
    color: #FFF !important;
}

.table-rows:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.edit-product-header,
.add-product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-product-clear,
.add-product-clear {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

select {
    width: 100%;
    padding: 0.75rem 0.75rem;
    background: #f3f3f3;
    border: none;
    color: #757575;
    border-radius: 5px;
}

select:focus {
    outline: none;
}

.date-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem 0.75rem;
    background: #f3f3f3;
    border: none;
    border-radius: 5px;
}

.date-input:focus {
    outline: none;
}

label, .sort-by {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 13px;
    color: #fff;
}

.sideMenu {
    width: 20%;
    padding: 1.8rem 1.6rem;
    background: #c2c2c2;
    height: calc(100vh - 92px);
    overflow: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-item {
    margin: 1rem 0;
}

.item-container {
    margin-bottom: 1rem;
}

.container_custom {
    width: 100%;
    margin-left: 20%;
}

.inventory-table {
    width: 100%;
    text-align: left;
}

.table-headers {
    font-weight: 500;
    font-size: 12px;
    color: #a1a1a1;
    border: solid #f1f1f1;
    border-width: 0 0 2px 0;
    position: sticky;
    background: #fff;
    top: 0;
    z-index: 2;
    box-shadow: 0 -5px 15px 0 grey;
}

.table-rows {
    border: solid #f1f1f1;
    border-width: 0 0 2px 0;
    font-size: 14px;
    font-weight: 400;
}

.table-title {
    padding: 1rem;
}

.table-cell {
    padding: .6rem 1rem;
}

.categoryTitle {
    color: #fff;
    font-weight: 500;
    margin: 0 0 .25rem;
    font-size: .85rem;
    text-transform: uppercase;
}

.categoryContainer:not(:last-child) {
    margin-bottom: 2em;
}

.divider {
    width: 100%;
    height: 2px;
    background: #fff;
}

.inputContainer {
    display: block;
    margin: 1rem auto;
    width: 100%;
}

.inputContainer input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem 0.75rem;
    background: #f3f3f3;
    border: none;
    color: #757575;
    border-radius: 5px;
}

.inputContainer input:focus {
    outline: none;
}

.majorBtn {
    display: block;
    padding: .85rem 1rem;
    border-radius: 5px;
    background: #37383d;
    color: #fff;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .8px;
    transition: all .3s ease;
    width: 48%;
    text-align: center;
}

.btnFullWidth {
    width: 100% !important;
    margin-top: 2%;
}

.majorBtn:hover {
    cursor: pointer;
    background: rgba(55, 56, 61, .85);
}

.button_custom {
    display: block;
    padding: .6rem 4rem;
    border-radius: 5px;
    background: #37383d;
    color: #fff;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .8px;
    transition: all .3s ease;
    width: 100%;
}

.button_custom:hover {
    cursor: pointer;
    background: rgba(55, 56, 61, .85);
}

.row-selected {
    background: rgba(0, 0, 0, 0.1);
}

.deleteProductBtn {
    background: transparent;
    background: rgba(177, 56, 56, 1) !important;
    border: 2px solid #b13838 !important;
}

.deleteProductBtn:hover {
    background: rgba(177, 56, 56, .85) !important;
}

.btnSection {
    display: flex;
    justify-content: space-between;
}

.btnContainer {
    bottom: 10%;
    width: 100%;
    box-sizing: border-box;
}

.inputContainerMultiple {
    display: flex;
    justify-content: space-between;
}

.inputContainerChild {
    width: 45%;
}

.product_image {
    overflow: hidden;
    width: 45px;
    height: 45px;
    border-radius: 3px;
/*    background: rgba(0, 0, 0, 0.1);*/
}

.product_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#import_csv_form .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#import_csv_form .form-group .majorBtn {
    margin-top: 2em;
}

.categoryContainers {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}
