.page {
    display: flex;
    height: 100%;
    width: 100%;
}

a {
    color: rgba(0, 0, 0, 0.6) !important;
}

.page a,
#inventory_import_csv a {
    color: #FFF !important;
}

.table-rows:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.edit-product-header,
.add-product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-product-clear,
.add-product-clear {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

select {
    width: 100%;
    padding: 0.75rem 0.75rem;
    background: #f3f3f3;
    border: none;
    color: #757575;
    border-radius: 5px;
}

select:focus {
    outline: none;
}

.date-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem 0.75rem;
    background: #f3f3f3;
    border: none;
    border-radius: 5px;
}

.date-input:focus {
    outline: none;
}

label, .sort-by {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 13px;
    color: #fff;
}

.sideMenu {
    width: 20%;
    padding: 1.2rem 1.6rem;
    background: #c2c2c2;
    height: 90.5vh;
    overflow: auto;
    position: fixed;
}

.menu-item {
    margin: 1rem 0;
}

.item-container {
    margin-bottom: 1rem;
}

.container_custom {
    width: 100%;
    margin-left: 20%;
}

/*.checkbox-container {
	display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
    margin-bottom: .15rem !important;
}*/

.radiobox-container {
    display: flex;
    align-items: center;
    height: 20px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radiobox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiobox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiobox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiobox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radiobox-container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.inventory-table {
    width: 100%;
    text-align: left;
}

.table-headers {
    font-weight: 500;
    font-size: 12px;
    color: #a1a1a1;
    border: solid #f1f1f1;
    border-width: 0 0 2px 0;
    position: sticky;
    background: #fff;
    top: 0;
    z-index: 2;
    box-shadow: 0 -5px 15px 0 grey;
}

.table-rows {
    border: solid #f1f1f1;
    border-width: 0 0 2px 0;
    font-size: 14px;
    font-weight: 400;
}

.table-title {
    padding: 1rem;
}

.table-cell {
    padding: .6rem 1rem;
}

.categoryTitle {
    color: #fff;
    font-weight: 500;
    margin: 0 0 .25rem;
    font-size: .85rem;
    text-transform: uppercase;
}

.categoryContainer:not(:last-child) {
    margin-bottom: 2em;
}

.divider {
    width: 100%;
    height: 2px;
    background: #fff;
}

.inputContainer {
    display: block;
    margin: 1rem auto;
    width: 100%;
}

.inputContainer input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem 0.75rem;
    background: #f3f3f3;
    border: none;
    color: #757575;
    border-radius: 5px;
}

.inputContainer input:focus {
    outline: none;
}

.majorBtn {
    display: block;
    padding: .85rem 1rem;
    border-radius: 5px;
    background: #37383d;
    color: #fff;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .8px;
    transition: all .3s ease;
    width: 48%;
    text-align: center;
}

.btnFullWidth {
    width: 100% !important;
    margin-top: 2%;
}

.majorBtn:hover {
    cursor: pointer;
    background: rgba(55, 56, 61, .85);
}

.button_custom {
    display: block;
    padding: .6rem 4rem;
    border-radius: 5px;
    background: #37383d;
    color: #fff;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .8px;
    transition: all .3s ease;
    width: 100%;
}

.button_custom:hover {
    cursor: pointer;
    background: rgba(55, 56, 61, .85);
}

.row-selected {
    background: rgba(0, 0, 0, 0.1);
}

.btnSection {
    display: flex;
    justify-content: space-between;
}

.btnContainer {
    bottom: 10%;
    width: 100%;
    box-sizing: border-box;
}

.inputContainerMultiple {
    display: flex;
    justify-content: space-between;
}

.inputContainerChild {
    width: 45%;
}

.product_image {
    overflow: hidden;
    width: 45px;
    height: 45px;
    border-radius: 3px;
/*    background: rgba(0, 0, 0, 0.1);*/
}

.product_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#import_csv_form .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#import_csv_form .form-group .majorBtn {
    margin-top: 2em;
}