.page {
    display: flex;
    height: 100%;
    width: 100%;
}

a {
    color: rgba(0, 0, 0, 0.6) !important;
}

.page a,
#inventory_import_csv a {
    color: #FFF !important;
}

select {
    width: 100%;
    padding: 0.75rem 0.75rem;
    background: #f3f3f3;
    border: none;
    color: #757575;
    border-radius: 5px;
}

select:focus {
    outline: none;
}

.date-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem 0.75rem;
    background: #f3f3f3;
    border: none;
    border-radius: 5px;
}

.date-input:focus {
    outline: none;
}

label, .sort-by {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 13px;
    color: #fff;
}

.sideMenu {
    width: 20%;
    padding: 1.2rem 1.6rem;
    position: fixed;
    background: #c2c2c2;
    height: calc(100vh - 92px);
    overflow: auto;
}

.menu-item {
    margin: 1rem 0;
}

.item-container {
    margin-bottom: 1rem;
}

.container_custom {
    width: 80%;
    margin-left: 20%;
}

.recipe-table {
    width: 100%;
    text-align: left;
}

.row-selected {
    background: rgba(0, 0, 0, 0.1);
}

.table-rows:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.table-headers {
    font-weight: 500;
    font-size: 12px;
    color: #a1a1a1;
    border: solid #f1f1f1;
    border-width: 0 0 2px 0;
    position: sticky;
    background: #fff;
    top: 0;
    z-index: 2;
    box-shadow: 0px -5px 10px grey;
}

.table-rows {
    border: solid #f1f1f1;
    border-width: 0 0 2px 0;
    font-size: 14px;
    font-weight: 400;
}

.table-title {
    padding: 1rem;
}

.table-cell {
    padding: .6rem 1rem;
}

.categoryTitle {
    color: #fff;
    font-weight: 500;
    margin: 1rem 0 .25rem;
    font-size: .85rem;
    text-transform: uppercase;
}

.divider {
    width: 100%;
    height: 1px;
    background: #fff;
}

.inputContainer {
    display: block;
    margin: 1rem auto;
    width: 100%;
}

.inputContainer input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem 0.75rem;
    background: #f3f3f3;
    border: none;
    color: #757575;
    border-radius: 5px;
}

.inputContainer input:focus {
    outline: none;
}

.majorBtn {
    display: block;
    padding: .85rem 1rem;
    border: 2px solid #37383d;
    border-radius: 5px;
    background: #37383d;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .8px;
    transition: all .3s ease;
    width: 48%;
    text-align: center;
}

.btnFullWidth {
    width: 100% !important;
    margin-top: 2%;
}

.majorBtn:hover {
    cursor: pointer;
    background: rgba(55, 56, 61, .85);
}

.edit-recipe-header,
.add-recipe-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-recipe-clear,
.add-recipe-clear {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.addRecipeBtnSmall {
    display: block;
    padding: .6rem 1rem;
    border-radius: 5px;
    background: #37383d;
    color: #fff;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .8px;
    transition: all .3s ease;
    width: 48%;
    text-align: center;
}

.addRecipeBtnSmall:hover {
    cursor: pointer;
    background: rgba(55, 56, 61, .85);
}

.addRecipeBtn,
.editRecipeBtn {
    display: block;
    padding: .6rem 4rem;
    border-radius: 5px;
    background: #37383d;
    color: #fff;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .8px;
    transition: all .3s ease;
    width: 100%;
    cursor: pointer;
}

.addRecipeBtn:hover,
.editRecipeBtn:hover{
    cursor: pointer;
    background: rgba(55, 56, 61, .85);
}

.btnSection {
    display: flex;
    justify-content: space-between;
}

.btnContainer {
    width: 100%;
    box-sizing: border-box;
    padding-top: 2em;
}

.inputGroup {
    display: flex;
    align-items: flex-end;
}

.setWidth {
    max-width: 48% !important;
    margin-top: 0 !important;
}

.recipe_image {
    overflow: hidden;
    width: 45px;
    height: 45px;
    border-radius: 3px;
    /*    background: rgba(0, 0, 0, 0.1);*/
}

.recipe_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
